* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    min-height: 100dvh;
    min-width: 100vw;
    background-color: #00336e;
    flex-direction: row;
}

div.info{
    background-color: #010b23;
    width: 40vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.form-box{
    background-color: #010a20;
    width: 60vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha-vertical {
    border-left: 2px solid #00336e; 
    height: 100px;                
    margin: 0 0.1px;               
  }

  .titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .news, .wire{
    font-size: 60px;
  }
  .news{
    color: white;
  }

  .wire{
    color: rgb(47, 115, 224)
  }

  .box{
    /* background-color: aqua; */
    height: 250px;
  }

  p{
    color: aliceblue;
    font-size: 20px;
  }
  form{
    background-color: aquamarine;
    height: 250px;
  }